rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Minden dokumentumhoz teljes hozzáférés bejelentkezett felhasználóknak
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
